<!DOCTYPE html>
<html>
 <head>
 <title>Home Page</title>
 </head>
 <body>
    <h1>Welcome user id number <%= userId %>!</h1>
    <%= JSON.stringify(profile) %>
    <a href="/logout">Logout</a>
 </body>
</html>